.title{
    margin-top: 15px;
    margin-bottom: 17px;
    width: 80px;
    height: 80px;
}
.menu{
    margin-top: 18px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
}
.update{
    width: 60px;
    height: 60px;
}
.pagetop{
    margin-top: 22px;
    margin-bottom: 15px;
    width: 65px;
    height: 65px;
}
#hyouzi{
    display:none;
}
.table{
    text-align: center;
}

.favorite_title{
    font-size: 25px;
}
.favorite_list{
    vertical-align: middle;
}
.favorite_create_list{
    font-size: 20px;
    padding-top: 5px;
}
.tweet{
    font-size: 20px;
}
.tweet_font-weight{
    font-weight: bold;
}
td{
    text-align: center;
}
